.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.laptops-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 50px;
   
    
}
.info-area{
    background-color: #c4c4c4;
    margin-top: 100px;
    height: 600px;

}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .shop-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .laptops-area{
        grid-template-columns: repeat(1, 1fr);
    }
}

