.laptop{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    background-color: #c4c4c4;
    
}
.laptop img{
    width: 280px;
    height: 280px;
    border-radius: 8px;
    padding-top: 10px;
    
}

.laptop-name {
    color: black;
     font-weight: 700;
     font-size: 25px;
     text-align: left;
     margin-left: 7px;
}
.laptop-price {
    text-align: left;
    margin-left: 7px;
    font-weight: 500;
    color: black;
}
.btn-cart {
    width: 100%;
    border-radius: 10px;
   
}

.btn-text {
    text-transform: uppercase;
     margin-right: 5px;
}